# ~~~~~~~~~ Global ~~~~~~~~~

# Ignore all dot folders
.*

# Ignore all archives
*.zip
*.tar.gz
*.tar
*.rar

# ~~~~~~~~~ Language specific ~~~~~~~~~
*.class
hs_err_pid*
build
out
target

# ~~~~~~~~~ IDE specific ~~~~~~~~~

# Idea
*.iml

# ~~~~~~~~~ Accelerate ~~~~~~~~~
**/challenges/*.txt
record
config/credentials.config
coverage
coverage.tdl
jre
